<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <a class="headerLinks" href="/users/register">Register</a>
    <a class="headerLinks" href="/users/signin">Signin</a>
    <a class="headerLinks" href="/users/signout">Signout</a>
    <a class="newPost" href="noodle/new">Add A Post</a>
  </head>
  <body>
