<%- include('./partials/header.ejs') %>

<br>
    <h1 class="Index">Noodle HUB <img src="https://stayhipp.com/wp-content/uploads/2020/10/ramen2.jpg" width=50px></h1>
    <div class="wrapper">
          <ul class="secondWrapper">
            <% for(let i = 0; i < noodle.length; i++) { %>
              <p><a href="/noodle/<%=noodle[i]._id%>"><%= noodle[i].name %></a></p>
              <br>
              <img class="indexPictures" src="<%= noodle[i].img %>" alt="">
              <% } %>
          </ul>
    </div>
    <!-- <a class="" href="noodle/new">Add A Post</a> -->
  </body>
</html>
