<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style.css">
    <title>New Post</title>
  </head>
  <body>
    <h1>New Noodle Review</h1>

    <form action="/noodle" method="post">
      Name: <input type="text" name="name">
      <br>
      Restaurant: <input type="text" name="restaurant">
      <br>
      Description: <input type="text" name="description">
      <br>
      Img: <input type="text" name="img">
      <br>
      Price: <input type="text" name="price">
      <br>
      Rating: <input type="text" name="rating">
      <br>
      Would You Recommend?: <input type="checkbox" name="wouldRecommend">
      <br>
      <input type="submit" value="Post Review">
    </form>
  </body>
</html>
