<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Registration</title>
  </head>
  <body>
    <h1 class="Register">Register A New User</h1>
    <form action="" method="post">
      <fieldset class="Register">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      </fieldset>
      <fieldset class="Register">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </fieldset>
      <fieldset class="Register">
        <label for="verifyPassword">Verify Password:</label>
        <input type="password" name="verifyPassword" id="verifyPassword">
      </fieldset>
      <input class="Register" type="submit" value="Sign Up">
    </form>
  </body>
</html>
